<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>🔮NgFate - Project Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .accordion-button {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .mermaid {
            overflow: auto;
            border-radius: 0.5rem;
            background-color: #f5f6fa;
        }

            .mermaid svg {
                min-height: 600px !important;
            }

        .mermaid-module > rect {
            fill: #d1e7dd !important;
            stroke: #198754 !important;
        }

        .mermaid-standalone > rect {
            fill: #cff4fc !important;
            stroke: #0dcaf0 !important;
        }

        .mermaid-component > rect {
            fill: #fff3cd !important;
            stroke: #ffc107 !important;
        }

        .mermaid-parent > rect {
            fill: #f8d7da !important;
            stroke: #dc3545 !important;
        }

        html[data-bs-theme="dark"] .mermaid {
            background-color: #121221;
        }

        html[data-bs-theme="dark"] .mermaid-module > rect {
            fill: #051b11 !important;
            stroke: #198754 !important;
        }

        html[data-bs-theme="dark"] .mermaid-standalone > rect {
            fill: #cff4fc !important;
            stroke: #0dcaf0 !important;
        }

        html[data-bs-theme="dark"] .mermaid-component > rect {
            fill: #332701 !important;
            stroke: #ffc107 !important;
        }

        html[data-bs-theme="dark"] .mermaid-parent > rect {
            fill: #2c0b0e !important;
            stroke: #dc3545 !important;
        }

        html[data-bs-theme="dark"] #mermaid-svg .label text, 
        html[data-bs-theme="dark"] #mermaid-svg span, 
        html[data-bs-theme="dark"] #mermaid-svg p {
            color: #adb5bd !important;
        }

        html[data-bs-theme="dark"] #mermaid-svg .flowchart-link {
            stroke: #adb5bd !important;
        }

        html[data-bs-theme="dark"] #flowchart-pointEnd {
            fill: #fff !important;
            stroke: #fff !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col">
                <button id="btn-theme" class="btn btn-sm btn-outline-secondary float-end"></button>
                <h4 class="mb-4 pb-3 border-bottom">🔮NgFate - Project Report</h4>

                <div id="report" hidden>
                    <div class="input-group">
                        <span class="input-group-text" id="search-icon">🔍</span>
                        <input id="search"
                               type="text"
                               class="form-control"
                               placeholder="Search modules"
                               aria-label="Search"
                               aria-describedby="search-icon" />
                        <button id="btn-search"
                                class="btn btn-outline-secondary dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Module
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-search">
                            <li><button class="dropdown-item" type="button">Module</button></li>
                            <li><button class="dropdown-item" type="button">Component</button></li>
                            <li><button class="dropdown-item" type="button">Parents</button></li>
                        </ul>
                        <button id="btn-cancel" class="btn btn-outline-secondary" type="button">❌</button>
                    </div>

                    <div class="mt-3">
                        <h6>Modules:</h6>
                        <div class="accordion" id="accord-project"></div>
                    </div>
                </div>
                <div id="diagram" hidden>
                    <div class="mt-3">
                        <h6>Diagram:</h6>

                        <pre id="mermaid" class="mermaid">
                        <span id="mermaid-svg"></span>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.2.4/dist/mermaid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js"></script>
    <script src="ng-fate-output.js"></script>
    <script>
        const dvReport = document.getElementById('report');
        const dvDiagram = document.getElementById('diagram');
        const dvProject = document.getElementById('accord-project');
        const dvMermaid = document.getElementById('mermaid');
        const txtSearch = document.getElementById('search');
        const btnSearch = document.getElementById('btn-search');
        const btnCancel = document.getElementById('btn-cancel');
        const btnTheme = document.getElementById('btn-theme');
        const ddlSearchAll = document.querySelectorAll('.dropdown-search .dropdown-item');
        const elementHtml = document.querySelector('html');

        (function () {
            btnTheme.addEventListener('click', toggleTheme);
            
            initTheme();

            if (!_modules || !_modules.length) {
                console.log(`The fate is not decided yet!`);
                return;
            }

            mermaid.initialize({ startOnLoad: false });

            txtSearch.addEventListener('keyup', onSearchChange);
            btnCancel.addEventListener('click', onCancelClick);

            ddlSearchAll.forEach(ddl => ddl.addEventListener('click', onSearchDropdownChange));

            dvReport.removeAttribute('hidden');
            dvDiagram.removeAttribute('hidden');

            loadModules(_modules);
            loadDiagrams(_modules);
        })();

        function loadModules(modules) {
            dvProject.innerHTML = '';

            for (const module of modules) {
                let compContent = '';
                let moduleParentContent = '';

                if (module.Components) {
                    for (const comp of module.Components) {
                        let parentContent = '';
                        if (comp.Parents) {
                            let parentCompContent = '';
                            for (const parent of comp.Parents) {
                                parentCompContent += `
                                        <div class="accordion-item">

                                            <h2 class="accordion-header" id="header-${parent.Id}">
                                                <button
                                                    class="accordion-button bg-danger-subtle border border-danger collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-${parent.Id}"
                                                    aria-expanded="true"
                                                    aria-controls="collapse-${parent.Id}">
                                                    ${parent.Name}
                                                </button>
                                            </h2>

                                            <div
                                                id="collapse-${parent.Id}"
                                                class="accordion-collapse collapse"
                                                aria-labelledby="header-${parent.Id}">

                                                <div class="accordion-body border border-danger p-1">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <strong>Name:</strong>
                                                            <span>${parent.Name}</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>FileName:</strong>
                                                            <span>${parent.FileName}</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>FilePath:</strong>
                                                            <span>${parent.FilePath}</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>Selector:</strong>
                                                            <span>${parent.Selector}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    `;
                            }

                            parentContent = `
                                      <li class="list-group-item">
                                          <strong>Parents:</strong>
                                          <div class="accordion mt-2">
                                              ${parentCompContent}
                                          </div>
                                      </li>
                                  `;
                        }

                        compContent += `
                                    <div class="accordion-item">

                                        <h2 class="accordion-header" id="header-${comp.Id}">
                                            <button
                                                class="accordion-button bg-warning-subtle border border-warning collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse-${comp.Id}"
                                                aria-expanded="true"
                                                aria-controls="collapse-${comp.Id}">
                                                ${comp.Name}
                                            </button>
                                        </h2>

                                        <div
                                            id="collapse-${comp.Id}"
                                            class="accordion-collapse collapse"
                                            aria-labelledby="header-${comp.Id}">

                                            <div class="accordion-body border border-warning p-1">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <strong>Name:</strong>
                                                        <span>${comp.Name}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <strong>FileName:</strong>
                                                        <span>${comp.FileName}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <strong>FilePath:</strong>
                                                        <span>${comp.FilePath}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <strong>Selector:</strong>
                                                        <span>${comp.Selector}</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <strong>Routed:</strong>
                                                        <span>${comp.Routed}</span>
                                                    </li>

                                                    ${comp.Routed
                                ? `
                                                          <li class="list-group-item">
                                                              <strong>RoutePath:</strong>
                                                              <span>${comp.RoutePath}</span>
                                                          </li>
                                                        `
                                : parentContent
                            }
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                `;
                    }
                }

                if (module.Standalone) {
                    if (module.Parents) {
                        let moduleParentCompContent = '';
                        for (const parent of module.Parents) {
                            moduleParentCompContent += `
                                        <div class="accordion-item">

                                            <h2 class="accordion-header" id="header-${parent.Id}">
                                                <button
                                                    class="accordion-button bg-danger-subtle border border-danger collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-${parent.Id}"
                                                    aria-expanded="true"
                                                    aria-controls="collapse-${parent.Id}">
                                                    ${parent.Name}
                                                </button>
                                            </h2>

                                            <div
                                                id="collapse-${parent.Id}"
                                                class="accordion-collapse collapse"
                                                aria-labelledby="header-${parent.Id}">

                                                <div class="accordion-body border border-danger p-1">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <strong>Name:</strong>
                                                            <span>${parent.Name}</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>FileName:</strong>
                                                            <span>${parent.FileName}</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>FilePath:</strong>
                                                            <span>${parent.FilePath}</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>Selector:</strong>
                                                            <span>${parent.Selector}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    `;
                        }

                        moduleParentContent = `
                                      <li class="list-group-item">
                                          <strong>Parents:</strong>
                                          <div class="accordion mt-2">
                                              ${moduleParentCompContent}
                                          </div>
                                      </li>
                                  `;
                    }
                }

                dvProject.innerHTML += `
                                  <div class="accordion-item">

                                      <h2 class="accordion-header" id="header-${module.Id}">
                                          <button
                                              class="accordion-button ${module.Standalone ? 'bg-info-subtle' : 'bg-success-subtle'
                    } border ${module.Standalone ? 'border-info' : 'border-success'} collapsed"
                                              type="button"
                                              data-bs-toggle="collapse"
                                              data-bs-target="#collapse-${module.Id}"
                                              aria-expanded="true"
                                              aria-controls="collapse-${module.Id}">
                                              ${module.Name}
                                          </button>
                                      </h2>

                                      <div
                                          id="collapse-${module.Id}"
                                          class="accordion-collapse collapse"
                                          aria-labelledby="header-${module.Id}">

                                          <div class="accordion-body border border-success p-1">
                                              <ul class="list-group list-group-flush">
                                                  <li class="list-group-item">
                                                      <strong>Name:</strong>
                                                      <span>${module.Name}</span>
                                                  </li>
                                                  <li class="list-group-item">
                                                      <strong>FileName:</strong>
                                                      <span>${module.FileName}</span>
                                                  </li>
                                                  <li class="list-group-item">
                                                      <strong>FilePath:</strong>
                                                      <span>${module.FilePath}</span>
                                                  </li>
                                                  ${module.Standalone
                        ? `
                                                        <li class="list-group-item">
                                                            <strong>Selector:</strong>
                                                            <span>${module.Selector}</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <strong>Routed:</strong>
                                                            <span>${module.Routed}</span>
                                                        </li>
                                                        ${module.Routed
                            ? `
                                                              <li class="list-group-item">
                                                                  <strong>RoutePath:</strong>
                                                                  <span>${module.RoutePath}</span>
                                                              </li>
                                                            `
                            : moduleParentContent
                        }
                                                      `
                        : ''
                    }
                                                  ${module.Components
                        ? `
                                                      <li class="list-group-item">
                                                          <strong>Components:</strong>
                                                          <div class="accordion mt-2">
                                                              ${compContent}
                                                          </div>
                                                      </li>`
                        : ''
                    }
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              `;
            }
        }

        async function loadDiagrams(modules) {
            dvMermaid.innerHTML = '';

            const arrow = ' ---> ';

            let text = '';

            text += `graph TB\n`;

            for (const module of modules) {
                text += `${module.Id}(${module.Name})\n`;
                text += `class ${module.Id} ${module.Standalone ? 'mermaid-standalone' : 'mermaid-module'}\n`;

                if (module.Components) {
                    for (const component of module.Components) {
                        text += `${module.Id}${arrow}${component.Id}(${component.Name})\n`;
                        text += `class ${component.Id} mermaid-component\n`;

                        if (component.Parents) {
                            text += `${component.Id}${arrow}parents-${component.Id}(Parents)\n`;
                            text += `class parents-${component.Id} mermaid-parent\n`;

                            for (const parent of component.Parents) {
                                text += `parents-${component.Id}${arrow}${parent.Id}(${parent.Name})\n`;
                                text += `class ${parent.Id} mermaid-parent\n`;
                            }
                        }
                    }
                }
            }

            const drawDiagram = async function () {
                const { svg } = await mermaid.render('mermaid-svg', text);
                dvMermaid.innerHTML = svg;

                svgPanZoom('#mermaid-svg', {
                    zoomEnabled: true,
                    controlIconsEnabled: true,
                    fit: true,
                    center: true,
                });
            };

            await drawDiagram();
        }

        function onSearchChange() {
            const search = this.value?.toLowerCase();
            const type = btnSearch.innerText;

            if (!search) {
                loadModules(_modules);
                loadDiagrams(_modules);
                return;
            }

            let modules = [];

            if (type === 'Component') {
                const clonedModules = structuredClone(_modules);
                modules = clonedModules.filter(module => {
                    if (module.Components === null) {
                        return false;
                    }

                    const foundComps = module.Components.filter(comp => comp.Name.toLowerCase().includes(search));

                    if (foundComps && foundComps.length) {
                        module.Components = foundComps;
                        return true;
                    }

                    return false;
                });
            } else if (type === 'Parents') {
                const clonedModules = structuredClone(_modules);
                modules = clonedModules.filter(module => {
                    if (module.Components === null) {
                        return false;
                    }

                    const foundComps = module.Components.filter(comp => {
                        if (comp.Parents === null) {
                            return false;
                        }

                        const foundParents = comp.Parents.filter(parent => parent.Name.toLowerCase().includes(search));

                        if (foundParents && foundParents.length) {
                            comp.Parents = foundParents;
                            return true;
                        }

                        return false;
                    });

                    if (foundComps && foundComps.length) {
                        module.Components = foundComps;
                        return true;
                    }

                    return false;
                });
            } else {
                modules = _modules.filter(module => module.Name.toLowerCase().includes(search));
            }

            loadModules(modules);
            loadDiagrams(modules);
        }

        function onSearchDropdownChange() {
            const type = this.innerText;
            btnSearch.innerText = type;
            txtSearch.value = '';

            txtSearch.setAttribute('placeholder', `Search ${type?.toLowerCase()}`);

            loadModules(_modules);
            loadDiagrams(_modules);
        }

        function onCancelClick() {
            txtSearch.value = '';
            loadModules(_modules);
            loadDiagrams(_modules);
        }

        function getTheme() {
            return elementHtml.getAttribute('data-bs-theme');
        }

        function setTheme(theme) {
            elementHtml.setAttribute('data-bs-theme', theme);
            btnTheme.innerHTML = theme === 'dark' ? `☀️` : `🌙`;
            btnTheme.title = theme === 'dark' ? `Light` : `Dark`;
        }

        function initTheme() {
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                setTheme('dark');
            } else {
                setTheme('light');
            }
        }

        function toggleTheme() {
            const theme = getTheme();
            const newTheme = theme === 'dark' ? 'light' : 'dark';

            setTheme(newTheme);
        }
    </script>
</body>
</html>
